<% cache do %>
<center>
<h1><%= image_tag("supreme.basquiet.jpg", class:"img-responsive")%>
<div class="row" id="about-page">
  <div class="col-lg-12">
<p><b>Newtown Radio</b></p>
<p>We are a Brooklyn based Internet radio station dedicated to serving the great music that the neighborhoods around Newtown Creek create and enjoy — Williamsburg, Greenpoint, Bushwick, Long Island City, & Ridgewood Queens.</p>
<br>
<p>This web application was designed and developed in New York and California by Colin Ilgen.</p></h1>
<br>
<%= image_tag("CoverPhoto.jpg", class:"img-responsive")%>
<h3><b><a href="http://www.newtownradio.com/privacy-policy/">Privacy Policy | Terms of Use</b></a>
<p>If there are any questions or concerns regarding our privacy policy and/or the terms of use, you can reach us via the form provided here.</p></h3>
<h3>Contact</h3>
</div>
</div>
<%= form_tag('/static_pages/thank_you') do %>
<div class="row" id="contact-form">
    <div class="col-lg-12">
        <div class="form-group">
            <%= label_tag :name, "Name" %>
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", :required => true %>
        </div>
        <div class="form-group">
            <%= label_tag :email, "Email Address" %>
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", :required => true %>
        </div>
        <div class="form-group">
            <%= label_tag :message, "Message" %>
            <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", :required => true %>
        </div>
    </div>
</div>
</div>
<button class="btn btn-default" type="submit">
<%= submit_tag "Send" %>
<% end %>
</button>
<br>
<br>
<br>
<%= image_tag("rose_dj.jpg", class:"img-responsive")%>
</center>
<% end %>


