
<h1><%= image_tag("supreme.basquiet.jpg", class:"img-responsive")%>
<p><b>Newtown Radio</b></p>We are a Brooklyn-based Internet radio station dedicated to sharing the great music that the neighborhoods around Newtown Creek — Williamsburg, Greenpoint, Bushwick, Long Island City, Ridgewood, create and enjoy.</p>
<p><b>FAQ</b></p></h1>
<p><b>Q: What's different about this app from the Newtown Radio Website?</b></p>
<p>A: This app was custom designed in- house. Its sleek interface and simple push play button makes it easy to listen at any time or get alerts so you stay in the loop with your favorite radio shows anytime, anywhere!</p>
<p><b>Q: Where is the archive?</b></p>
<p>A: You can visit the archive section of our website for the latest recorded shows LINK </p>
<p><b>Q: Where can I send music for radio play consideration?</b></p>
<p>A: Email us at: newtownradio@gmail.com</p>

<h3><p><b>Privacy Policy | Terms of Use</b></p></h3>
<%= image_tag("CoverPhoto.jpg", class:"img-responsive")%>
<p>Other questions, get in touch with us!</p>

<h1><b>Contact</b></h1>
</div>
<%= form_tag('/static_pages/thank_you') do %>
<div class="row" id="contact-form">
    <div class="col-lg-12">
        <div class="form-group">
            <%= label_tag :name, "Name" %>
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
        </div>
        <div class="form-group">
            <%= label_tag :email, "Email Address" %>
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
        </div>        
        <div class="form-group">
            <%= label_tag :message, "Message" %>
            <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
        </div>    
    </div>
</div>
</div>
<button class="btn btn-default" type="submit">
<%= submit_tag "Send" %>
<% end %>
</button>

