<div class="col-md-12">
  <% cache product do %>
  <h3><%= product.name %></h3>
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <p><%= product.description %></p>
  <p><%= product.price %></p>
  <p><%= product.colour %></p>
  <hr>
  <div id="product-links">
    <button type="button" class="btn btn-info-outline">
    <%= link_to 'Show', product %>
    </button>
    <button type="button" class="btn btn-info-outline">
    <%= link_to 'Edit', edit_product_path(product) %>
    </button>
    <button type="button" class="btn btn-info-outline">
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </button>
    <hr>
  </div>
  <!--/links-->
  <% end %>
</div>
<!-- /col -->
