<p id="notice"><%= notice %></p>
<div id="page-layout" class="img-responsive">Merch</div>
<div class="carousel-inner" role="listbox">
   <%= @products.each do |product| %>
   <div class="item<%= " active" if product == @products.first %>">
    <%= image_tag(product.image_url) %>
     <div class="carousel-caption">
      <%= product.name %>
     </div>
       </div>
   <% end %>
 </div>
<hr>
<div id="product-links">
         <button type="button" class="btn btn-info-outline">
  <%= link_to 'Show', product %>
         </button>
         <button type="button" class="btn btn-info-outline">
  <%= link_to 'Edit', edit_product_path(product) %>
         </button>
         <button type="button" class="btn btn-info-outline">
  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> 
         </button> 
<hr>
</div><!--/links--> 
<br>

<%= link_to 'New Product', new_product_path %>