<div class="show">
  <div class="row">
    <div class="col-sm-12">  
      <p id="notice"><%= notice %></p>
    <h5>
      <a><span class="glyphicon glyphicon-triangle-top"></span></a>
      <img src="<%= @product.image_url %>">
      <a><span class="glyphicon glyphicon-triangle-bottom"></span></a>
    </h5>

    <p classs="lead">
      <strong>Product Name:</strong>     
      <%= @product.name %>
    </p>
    <p class="lead">
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p class="lead">
	  <strong>Image url:</strong>
	  <%= @product.image_url %>
    </p>
    <p class="lead">
	  <strong>Colour:</strong>
	  <%= @product.colour %>
    </p>
    <p class="lead">
	  <strong>Price:</strong>
	  <%= @product.price %>
    </p>

    <h5>
    <a><span class="glyphicon glyphicon-comment"></span></a>
    </h5>

    </div>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>