<div class="col-sm-12">
<div class="show">
<p id="notice"><%= notice %></p>
<h1><p>
  <img src="<%= @product.image_url %>">
  <a><span class="glyphicon glyphicon-th"></span></a>
</p></h1>
<p>
  <strong>Product Name:</strong>     <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
	<strong>Image url:</strong>
	<%= @product.image_url %>
</p>

<p>
	<strong>Colour:</strong>
	<%= @product.colour %>
</p>

<p>
	<strong>Price:</strong>
	<%= @product.price %>
</p>

</div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>