<div class="show">
<p id="notice"><%= notice %></p>
<p>
  >
  <img src="<%= @product.image_url %>">
</p>
<p>
  <strong>Product Name:</strong><%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>