<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <title>Newtown Radio</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>

</head>
<!-- Single button -->
<body>
<nav class="navbar navbar-default navbar-fixed-top" id="navigation" role="navigation">
    <div class="container-fluid">
       <div class="navbar-header">
        <a class="navbar-brand pull-left img-responsive"></a>
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle Navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right nav-tabs">
          <li><%= link_to "Newtown Radio", static_pages_index_path %></a> 
          <li><%= link_to "About", static_pages_about_path %></a>
          <li><%= link_to "Featured",static_pages_featured_path %></a>
          <li class="active"><a href="https://newtown-radio.herokuapp.com/products/">Products</a>  
          <li class="dropdown">
             <a href="https://newtown-radio.herokuapp.com/static_pages/calendar" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               Calendar <span class="caret"></span>
             </a>
             <ul class="dropdown-menu">
               <li><a href="">Schedule</a></li>
               <li><a href="">Get Alerts</a></li>
             </ul>
          </li>
         </li>
        </ul>
      </div><!-- end nav content -->
    </div><!-- end nav container -->
</nav><!-- end navbar -->
<%= yield %>
<footer>   
<p>&copy; 2016</p>
<div id="navFooter">
  <a href="#" id="navBackToTop">
    <div class="navFooterBackToTop">
      <span class="navFooterBackToTopText"> Back to top</span>
    </div>
  </a>
</div> 
</footer>
</body>
</html>
