<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <title>Newtown Radio</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<!-- Single button -->
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand pull-left img-responsive"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right nav-tabs">
        <li><%= link_to "Newtown Radio", static_pages_index_path %></li> 
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Featured",static_pages_featured_path %></li>  
        <li><%= link_to "Products", products_path %></li>  
        <li><%= link_to "Calendar",static_pages_calendar_path %></li>
      </ul>
    </div><!-- end nav content -->
  </div><!-- end nav container -->
  <%= form_tag("/products", method: "get", class: "product-form") do %>
  <%= label_tag(:q, "Search for:", class: "description-box") %>
  <%= text_field_tag(:q, class: "draft") %>
  <%= submit_tag("Search", class: "test") %>
<% end %>
</nav><!-- end navbar -->
<%= yield %>
<footer>   
<p>&copy; 2016</p> 
</footer>
</body>
</html>
